<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>lesaviezvous</name>
  <displayName><![CDATA[Le Saviez-Vous ?]]></displayName>
  <version><![CDATA[1.0.0]]></version>
  <description><![CDATA[Blocs de texte rotatifs utilisables dans les zones d'attente du site.]]></description>
  <author><![CDATA[Claude]]></author>
  <tab><![CDATA[front_office_features]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
